<%- include layouts/header.ejs %>

  <div class="container">
    <h1>
      <%= titulo %>
    </h1>
    <p>Welcome to <%= titulo %>
    </p>
  </div>

  <img src="https://hardzone.es/app/uploads-hardzone.es/2019/05/CORSAIR-VENGEANCE-5180-Gaming-PC.jpg" class="img-fluid" alt="...">


  <%- include layouts/footer.ejs %>
    </body>

    </html>